*{
    margin :0;
    padding: 0;
}
body{
    background-color: rgb(10, 10, 77);
    text-align: center;
    color: rgb(227, 236, 227);

}
.cont{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height : 60vmin;
    width : 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 8vmin;
    background-color: aliceblue;
    color: black;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: rgb(189, 178, 178);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: rgb(189, 178, 178);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#msg{
    color: rgb(160, 82, 82);
    font-size: 5vmin;
}
.msg-cont{
    height :100 vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
   display: none; 
}
